.profile{
    background-color: blue;
    display: flex;
    gap: 30px;
    height: 100;
}
.profileLink nav{
    background-color: brown;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items:center;
}
.profileLink{
    width: 200px;
}
.userData{
    flex-grow: 1;
}
nav a{
color: white;
text-decoration: none;
}